$navbar_color: #f1f1f1;
$form_color-title: #777777;
$font_color-nav: #222222;


*{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 13px;
    font-family: arial, sans-serif;
}

.google_navbar{
    height: 60px;
    width: 100vw;
    background-color: $navbar_color;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    a.google_logo{
        width: 100px;
        height: 24px;
        margin: 0px 15px 0px 20px;

        img{
            width: auto;
            height: 24px;
        }
    }

    a.normal_search{
        width: 100px;
        margin-right: 30px;
        text-decoration: none;
        color: $font_color-nav;

        &:hover{
            text-decoration: underline;
        }
    }
}

.advanced{
    width: 100%;

    .advanced_search{
        height: 23.2px;
        margin: 25px 25px;
        display: flex;
        flex-direction: row;
        align-items: center;

        .advanced_search-label{
            color: #d93025;
            margin-left: 10px;
            font-size: 20px;
        }
    }

    hr{
        border: 1px solid #ebebeb;
    }

    .advanced_form{
        width: 1112px;
        margin: 50px 0px 0px 30px;

        .advanced_form-header{
            display: grid;
            grid-template-columns: 178px auto 272px;

            .advanced_form-title{
                color: #333333;
                display: flex;
                flex-direction: row;
                align-items: center;    
    
                p{
                    font-size: 16px;
                }
            }
    
            .advanced_form-indication{
                color: $form_color-title;
                font-size: 13px;
                height: 30px;
                display: flex;
                flex-direction: row;
                align-items: center;
                font-weight: bold;
            }
        }
        
        .advanced_form-div{
            margin: 10px;
            display: grid;
            row-gap: 10px;
            grid-template-rows: repeat(6, 30px);
            

            .form_grid, .input_submit{
                display: grid;
                grid-template-columns: 178px auto 272px;
                row-gap: 10px;
                column-gap: 15px;
                vertical-align: middle;


                input[type="text"]{
                    border: 1px solid #d9d9d9;
                    height: 25px;
                }

                .small_size{
                    font-size: 11px;
                    margin-top: auto;
                    margin-bottom: auto;
                }
            }


            span{
                font-size: 11px;
                color: #666666;
                font-family: monospace;
            }
            .input_submit{
                width: 120px;
                grid-column: 2/3;
                height: 30px;
                color: #fff;
                border: 1px solid #3079ed;
                background-color: #4d90fe;
                border-radius: 2px;
                font-weight: bold;
                font-size: 11px;
                padding: 0px 12px;
                cursor: pointer;
                margin-left: 500px;
                font-family: Arial;
            }
        }
    }
}