$font_color-nav: #222222;

*{
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 14px;
    font-family: arial, sans-serif;
}

navbar{
    ul{
        list-style-type: none;
        display: grid;
        height: 48px;
        padding: 6px;
        grid-template-columns: 90% 10%;
        justify-items: center;
        align-items: center;
    }

    a{
        text-decoration: none;
        color: $font_color-nav;

        &:hover{
            text-decoration: underline;
        }
    }

    .images {
        grid-column: 2/3;
    }
}

.image_google{
    display: grid;
    width: 100vw;
    grid-template-columns: auto 272px auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 80px 0px;

    .logo {
        width: 272px;
        grid-column: 2/3;
    }

    .span{
        grid-column: 2/3;
        text-align: end;
        margin-top: -28px;
        font: 16px/16px arial, sans-serif;
        color: #4285f4;
    }
    

}

.form{
    widows: 100%;

    form{
        display: grid;
        grid-template-columns: 30% 20% 20% 30%;
        
    
        .input_inf{
            grid-column: 2/4;
            height: auto;
            border-radius: 24px; 
            border-color: rgba(223,225,229,0);
            box-shadow: 0 1px 6px rgba(32, 33, 36, .28);
            display: grid;
            grid-template-columns: 10px auto 46px;


            .input{
                border-radius: 24px;
                width: 95%;
                grid-column: 2/3;
                height: 44px;
                border: none;
                margin-left: 5px;
                
    
                &:focus{
                    outline: none;
                }
            }

            .search_icon{
                height: 24px;
                width: auto;
                padding-right: 20px;
                align-self: center;
                justify-self: center;
                margin-left: 18px;
                grid-column: 3/4;
                border-style: none;
                
                
                &:focus{
                    outline: none;
                }
                
            }
        }
    }
}